<!DOCTYPE html>
<html>
<head>
  <title>Vue School Chat Room</title>
  <!--Importer Vue.js à partir d'un CDN-->
  <script src="https://unpkg.com/vue"></script>
  <!-- Le noyau de base de développement JS SDK Firebase est toujours requis et doit être répertorié en premier-->
  <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-app.js"></script>
  <!--Ajoutez les produits Firebase que vous souhaitez utiliser (par exemple, Analytics, Authentication ou Cloud Firestore...)-->
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
  <!--Importation de bootstrap CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div id="chat" class="container">
  <h1>Vue School Chat Room</h1>
  <!-- Messages -->
  <div v-for="message in messages" class="card">
    <div class="card-body">
      <!-- nickname -->
      <h6 class="card-subtitle mb-2 text-muted">{{ message.nickname }}</h6>
      <!-- content -->
      <p class="card-text">{{ message.text }}</p>
      <!--actions-->
      <a @click.prevent="deleteMessage(message)" href="#" class="card-link">delete</a>
    </div>
  </div>

  <hr>
  <!-- Nouveau Message -->
  <form @submit.prevent="storeMessage">
    <div class="form-group">
      <label>Message:</label>
      <textarea v-model="messageText" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label>Nickname:</label>
      <input v-model="nickname" class="form-control"/>
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>


<script type="text/javascript">

  // La configuration Firebase de votre application web (ce script doit être caché !!!!) 
  const firebaseConfig = {
    apiKey: "AIzaSyCFaipXg-e2_ZqUXZh5YiN-E13vEx_43zY",
    authDomain: "vuejs-firebase-aaa16.firebaseapp.com",
    databaseURL: "https://vuejs-firebase-aaa16.firebaseio.com",
    projectId: "vuejs-firebase-aaa16",
    storageBucket: "vuejs-firebase-aaa16.appspot.com",
    messagingSenderId: "325781604373",
    appId: "1:325781604373:web:e65b9a76a7edfbde52261c"
  };

  // Initialiser Firebase
  firebase.initializeApp(firebaseConfig);

  // Etablir la connexion à la base de donnée
  const database = firebase.database();
  
  // il est possible de stocker la référence 'messages' dans une variable
  const messageRef = database.ref('messages')


  new Vue({
    el: "#chat",
    data: {
      messages: [],
      messageText: '',
      nickname: 'hootlex'
    },
    methods: {
      storeMessage () {

        // .push génère automatiquement une clé unique pour chaque nouvel enfant
        messageRef.push({text: this.messageText, nickname: this.nickname})

        this.messageText = ''
      },
      deleteMessage (message) {
        messageRef.child(message.id).remove()
      }
    },
    created () {
      // value = snapshot.val() | key = snapshot.key
      messageRef.on('child_added', snapshot => this.messages.push({...snapshot.val(), id: snapshot.key}))
      
      messageRef.on('child_removed', snapshot => {
        const deleteMessage = this.messages.find(message => message.id === snapshot.key)
        const index = this.messages.indexOf(deleteMessage)
        this.messages.splice(index, 1)
      })
    },
  })
</script>
</body>
</html>